doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Load Images from Folder
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/styles.css')
		script(src='js/jszip.min.js')

	body.container.mt-5
		.gr-interface
			// File Input
			.form-group
				input.form-control-file(type='file', id='folderInput', webkitdirectory, directory, multiple)

			// Buttons
			.mt-2.mb-2
				button.btn.btn-primary(id='loadButton') Load Images
				button.btn.btn-secondary(onclick='exportZip()') Export

			// Loading Animation
			span.ml-3(style='display: none;', id='loadingAnimation') Loading...

			// Global Tags Container
			#globalTagsContainer.mt-4

			// Image Column and Tags Container
			.row.mt-4
				#imageColumn
				.col-md-4.tagsContainer

		script(src='js/jquery-3.5.1.slim.min.js')
		script(src='js/popper.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/scripts.js')
		script(src='js/tags.dev.js')
